.contact {
    color: $white;
    background-color: $bigStone;
    padding-bottom: calc(8rem - 16px);

    &__header {
        font-weight: 600;
        font-style: normal;
        margin: 0 auto 1rem;
        font-size: 2rem;
        line-height: 2.75rem;
        padding: 8rem 16px 0;
        max-width: 1216px;
        &::before {
            content: "";
            width: 80px;
            height: 4px;
            display: block;
            background: #0593fb;
            border-radius: 8px;
            margin-bottom: 1.5rem;
        }
    }

    &__about {
        margin: 0 0 1.5rem;
        font-size: 1.25rem;
        line-height: 2.25rem;
        max-width: 580px;
    }
    &__mail {
        text-decoration: none;
        color: $blue;
        font-weight: 600;
        border-bottom: 2px solid $blue;
        padding-bottom: 8px;
        font-size: 1.25rem;
        line-height: 2rem;
        display: inline-block;
        margin: 3rem 0 0;
    }
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    &__item {
        & + & {
            margin-left: 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
    }
}
