@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

@import "person.scss";
@import "skills.scss";
@import "projects.scss";
@import "contact.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $bigStone;
  border: 16px solid $bigStone;
  // display: flex;
  // flex-flow: column wrap;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @media (max-width: $desktop) and (min-width: $desktop1) {
//   .type__container {
//     display: block;
//   }
// }

// @media (max-width: $phone) {
//   body {
//     padding: 0;
//     flex-flow: column nowrap;
//   }

//   .skills {
//     padding: 0px 16px 80px 16px;

//     &__header {
//       text-align: center;
//     }
//   }

//   .type {
//     flex-direction: column;

//     &__container {
//       flex-direction: column;
//     }
//   }

//   .projects {
//     padding: 60px 16px;

//     &__wrapper {
//       margin: 0 auto;
//       display: flex;
//       flex-flow: column nowrap;
//       text-align: center;
//     }
//   }

//   .contact {
//     padding: 120px 16px;

//     &__container {
//       width: 343px;
//     }
//   }
// }
